*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

ul>li{
    /* Убрать маркеры у элемента списка*/
    list-style: none;
}


.wrapper{
    height:100vh;
    background-color: #e1fafa;
}

.gallery_item{
    margin: 20px;
    overflow: hidden;    
    width: 350px;
    height: 200px;
    border: 5px solid red;
}

.gallery_img {
    width: 100%;
}
